body::before {
  content: "⚠️ Este sitio fue modificado por RREEDD   👉 Accede al nuevo portal de login: https://malicioso.com";
  display: block;
  font-size: 20px;
  color: blue;
  background: white;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
}

 
